body{
	padding:0;
	margin:0;
}
.row{
	margin:0;
	padding:0;
}
.brand-logo{
	height: 100% !important;
	margin-left:100px;
}
#logo{
	height: 100% !important;
}
/* SOCIAL ICONS CSS starts*/

ul.social{
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	display:flex;
}
ul.social li a{
	width:70px;
	height:70px;
	background: black;
	line-height:80px;
	text-align:center;
	margin: 0 10px;
	display:block;
	border-radius:50%;
	position:relative;
	overflow:hidden;
	border: 3px solid;
	z-index: 1;
	
}
ul.social li a .fab{
	position:relative;
	color: #262626;
	transition: .5s; 
	z-index: 3;
	font-size:35px;
}
ul.social li a:hover .fab{
	color: #fff;
	transform:rotateY(360deg);
}
ul.social li a:before{
	content: '';
	position: absolute;
	top:100%;
	left: 0;
	width:100%;
	height:100%;
	background: #f00;
	transition: .5s; 
	z-index: 2;
}
ul.social li a:hover:before{
	top:0;
}
ul.social li:nth-child(1) a:before{
	background:#3b5999;
}
ul.social li:nth-child(2) a:before{
	background:#e4405f;
}
/* SOCIAL ICONS CSS ENDS*/
/* SOCIAL mob ICONS CSS starts*/
ul.social-mob{
    position: relative;
    align-items: center !important;
    transform: translate(-50%) !important;
    display: inline-flex;
    left: 50%;
    overflow: hidden;
}
ul.social-mob li a{
	width:70px;
	height:70px;
	background: black;
	line-height:80px;
	text-align:center;
	margin: 0 10px;
	padding:0;
	display:block;
	border-radius:50%;
	position:relative;
	overflow:hidden;
	border: 3px solid;
	z-index: 1;
	color:white;
	
}
ul.social-mob li a .fab{
	position:relative;
	color: white;
	transition: .5s; 
	z-index: 3;
	font-size:35px;
}
ul.social-mob li a:hover .fab{
	color: #fff;
	/*transform:rotateY(360deg);*/
}
ul.social-mob li a:before{
	content: '';
	position: absolute;
	top:100%;
	left: 0;
	width:100%;
	height:100%;
	/*background: #f00;
	transition: .5s; */
	z-index: 2;
}
ul.social-mob li a:hover:before{
	top:0;
}
ul.social-mob li:nth-child(1) a{
	background:#3b5999;
}
ul.social-mob li:nth-child(2) a{
	background:#e4405f;
}
/* SOCIAL mob ICONS CSS ENDS*/
nav{
    position: relative;
    height: 100px;
	position:sticky;
	top:0;
	z-index:10;
}
nav ul {
    position: relative !important;
    vertical-align: middle!important;
    top: 50%;
    transform: translateY(-50%);
}
.select-women{
    background: pink; /* For browsers that do not support gradients */
    background: linear-gradient(#f48fb1 ,#f06292 ,#ec407a ,#e91e63,#880e4f );
	height:100vh;
}
.select-men{
	background: linear-gradient(#757575 ,#424242, #212121,#000000);
	height:100vh;
}
.container-home{
	width:250px;
	height:250px;
	position:relative;
	border: solid white 10px;
	margin:auto;
	border-radius:15px;
	top:50%;
	transform: translateY(-50%);
}
.container-home h1{
	margin:0;
	padding:0;
	color:white;
	font-family:Blippo;
	font-size:200px;
	text-transform: uppercase;
	text-align:center;
	position:relative;
	top:50%;
	transform: translateY(-50%);
}
.container-home h2{
	color:white;
	font-family:Blippo;
	text-align:center;
}	
@media only screen and (max-width: 800px) {
.select-women {
        height:50vh;
		width: 100%;
		height:500px;	
    }
}
@media only screen and (max-width: 800px) {
.select-men {
        height:50vh;
		width: 100%;
		height:500px;
    }
}
@media only screen and (max-width: 800px) {
.container-home {
       top:45%;
    }
}
/* HOME PAGE CSS ENDS*/
/* MOTERIMS PAGE CSS STARTS*/
.nav-wrapper{
	background-color:pink;
}
.container-info{
	background-color:pink;
	padding:0;
	margin:0;
}
.section{
	padding:0;
	margin:0;
}
.parallax{
	padding:0;
	margin:0;
}
.container-info h2{
	padding:0;
	margin:0;
}
/* MOTERIMS PAGE CSS STARTS*/
/* CONTACTS PAGE CSS STARTS*/
.map{	
	width:80%;
	height:400px;
	margin:25px;
}
.contacts{
    text-align: center;
    line-height: 30px;
	font-size:30px;    
    align-items: center;
	font-family: 'Old Standard TT', serif;
	font-weight:normal;
	
}
.text-block h2{
	display:inline;
	text-align: center;	       
    align-items: center;
	background-color:black;
	Opacity:0.6;
	color:white;
	
}
#text-on-image{
	text-align: center;	       
	position: relative !important;
    top: 50%;			 
    transform: translateY(-50%);
}
.contacts-middle ul li{
	margin:5%;
	text-align: center;	       
    align-items: center;
}
@media only screen and (max-width: 823px){
.map{
	width:100%;
	height:300px;
	margin:0;
	margin-top:10px;
}
}
@media only screen and (max-width: 823px){
.contacts-middle ul li{	
	margin:3%;
}
}
/* CONTACTS PAGE CSS ENDS*/
/* PRISE PAGE CSS STARTS*/
.price-container{
	background-color:#f5f5f5;
	-webkit-border-radius: 15px;
}
.zirkleskainos-imige{
	width:100%;
	height:100%;
	margin-top:3%;
	margin-bottom:3%;
	
}
.salonkainos-imige{
	width:100%;
	height:100%;
	margin-bottom:3%;
}
.foto-container {
	height:200px !important;
	width:100% !important;
	background-color:white;
	margin:0;
	padding:0;
	/*background-repeat: no-repeat;*/
	
}
.foto-header{
	margin:0;
	text-align: center;
    position: relative !important;
    top: 50%;			 
    transform: translateY(-50%);
	font-size:40px;
	color:white;
}
.footer-img{
	border-radius: 50%;
	margin-top: 5px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.footer-paragraph{
	font-size: 25px !important;
	text-align: center;
	line-height: 0.7;
}
.copy-right{
	text-align: center;
	font-size: 12px;
	
}
.page-footer .footer-copyright{
	min-height: 30px;
	padding:2px;
}
.footer-info1{
	/* display: flex;
    justify-content: space-between;  */
	width: 100% !important;
}

/* FOOTER */
nav .sidenav-trigger {
    top: 50%;
    transform: translateY(-50%);
}
.nav-wrapper{
	background-color:black;
}
.page-footer{
	background-color:black;
}
.nav-wrapper ul a{
	color:white;
	font-size:15px;
}
.grey-text.text-lighten-3{
	color:black !important;
	font-size:15px;
}
.white-text {
    color: #000!important;
}
.grey-text.text-lighten-4 {
    color: #000!important;
}
nav .brand-logo {
    color: #000;
}
nav .sidenav-trigger {
    color: white;
}

#price-list{
	text-align:left;
	margin-top:45px;
	margin-bottom:45px;
	
}
#price-list h4{
	font-weight:bold;
	font-family: 'Amatic SC', cursive;
	font-size:60px;
}
#price-list p{
	font-size:20px;
	display:inline;
	font-family: 'Josefin Sans', sans-serif;
}
#price{
	font-size:20px !important;
	display:inline;
	font-weight:bold;
	font-family: 'Josefin Sans', sans-serif;
}
/* PRISE PAGE CSS ENDS*/
/* MEN PAGE CSS STARTS*/
#vyr-price{
	text-align:center;
	margin-top:20px;
	margin-bottom:40px;
}
#vyr-price p{
	font-size:25px;
	display:inline;
	font-family: 'Josefin Sans', sans-serif;
}
#vyr-price h2{
	font-weight:bold;
	overflow:hidden;
	font-family: 'Amatic SC', cursive;
	font-size:60px;
}
#kaina{
	font-size:35px !important;
	font-weight:bold;
	display:inline;
	font-family: 'Josefin Sans', sans-serif;
}
.background-color{
		background-color:#f5f5f5;
	-webkit-border-radius: 15px;
}
/* MEN PAGE CSS ENDS*/
/* GALERY PAGE CSS SMALL SCREENS STARTS*/
.gallery{
	margin: 20px;
	text-align:center !important;
}
/* div.image{
	width: 300px;
	height: 260px;
} */
.image img{
	object-fit:cover
}
.gallery img{
	width: 100%;
	height: 270px;
	padding: 5px;
	/*filter: grayscale(100%);*/
	transition: 1s;
}
.gallery img:hover{
	filter: grayscale(0);
	transform: scale(1.1);
}
@media only screen and (max-width: 823px){
.gallery img{
	filter: grayscale(0);
	width:100%;
	height: 260px;
    padding-top: 20px;
	margin:0;
	}
.gallery{
		margin: 0;
	}
}
.gallery-container{
	margin-top:120px;
	margin-bottom:120px;
}
/* GALERY PAGE FORM SMALL SCREENS CSS ENDS*/
/* MOBILE PAGE CSS STARTS*/
@media only screen and (max-width: 823px) {
	.brand-logo{
	margin:0;
	}
}
@media only screen and (max-width: 823px) {
	.gallery-container{
	margin-top:50px;
	margin-bottom:50px;
	}
}
@media only screen and (max-width: 823px) {
	.vyr-kaina td {
    text-align: center;
    font-size: 25px;
	margin:0;
	padding:0;
	float:center !important;
}
}
@media only screen and (max-width: 823px){
	#price-list{
		text-align:center;
	}
}
@media only screen and (max-width: 992px) {
ul#social-iconele {  
    top: 50%;
    left: 100% !important;
    transform: translate(-100%, -50%)!important;
    display: flex;
	overflow:hidden;
	}
}
@media only screen and (max-width: 992px){
ul.social li:nth-child(1) a{
	background:#3b5999;
	}
}
@media only screen and (max-width: 992px){
	ul.social li:nth-child(2) a{
	background:#e4405f;
	}
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2) {
	ul.social {
    position: absolute !important;
    top: 50%;
    left: 37%;
    transform: translate(-50%, -50%);
    display: flex;
	}
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2) {
	.brand-logo {
    margin-left:0;
	}
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2) {
	ul.social li:nth-child(1) a{
	background:#3b5999;
	}
}	
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2) {
	ul.social li:nth-child(2) a{
	background:#e4405f;
	}
}	
/*blackberry query starts*/
@media (max-device-width: 1024px) and (orientation: landscape) { 
	nav .brand-logo {
    margin-left:0 !important;
	}
}
@media (max-device-width: 1024px) and (orientation: landscape) { 
	ul.social {
    left: 37%;
	}
}
@media (max-device-width: 1024px) and (orientation: landscape) {
ul.social li:nth-child(1) a{
	background:#3b5999;
	}
}	
@media (max-device-width: 1024px) and (orientation: landscape) {
ul.social li:nth-child(2) a{
	background:#e4405f;
	}
}	
/*blackberry query ends*/


/* GALERY FOR MED AND LARGE SCREENS STARTS*/
.grid-wrap{
	margin-top: 50px;
	margin-bottom: 50px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-auto-rows: 100px;
	grid-gap:1em;
}
.grid-wrap > div{
	background-color: #c4b7a6;
	margin:0;
	padding:0;
}
.grid-wrap > div:nth-child(odd){
	background-color: gray;
	margin:0;
	padding:0;
}
.box1{
	grid-row:1/6;
	grid-column:1/3;
}
.box2{
	grid-row:1/4;
}
.box3{
	grid-row:1/4;
}
.box4{
	grid-row:4/9;
	grid-column:3/5;
}
.box5{
	grid-row:6/9;
}
.box6{
	grid-row:6/9;
}
.image-grid{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.img-zoom img:hover{
	transform: scale(1.1);
	transition: 2s;
}


/* GALERY FOR MED AND LARGE SCREENS ENDS*/